button {
    line-height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

input {
    padding-left: 40px;
    padding-right: 40px;
    line-height: 40px;
}

.input-container {
    display: inline-block;
    margin: 10px 0;
}

.input-container__label {
    display: block;
}

.form {
    display: flex;
    align-items: flex-start;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}